{% load static %}

<div class="direction-content">
    <h2 class="direction-content__header">Направления для отелей</h2>
    <p class="direction-content__text">В этих популярных местах вы точно найдете что-то для себя</p>
    <ul class="direction-card">
        <li class="direction-card__item" onclick="go_list_city_card('russia/moscow')">
            <div class="direction-card__img">
                <picture>
                    <source type="image/webp"><img src="/static/img/city/moscow.jpg" alt="">
                </picture>
            </div>
            <div class="direction-card__info">
                <div class="direction-card__name">Москва</div>
                <div class="direction-card__count">3533 вариантов</div>
            </div>
        </li>
    </ul>
</div>