{% extends 'my_admin/v2/base.html' %}
{% load form static %}
{% block main_block %}

<style>
  table {
    border: 3px solid #FFFFFF;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table th,
  table td {
    border: 1px solid #FFFFFF;
    padding: 10px;
  }

  table tbody td {
    font-size: 14px;
  }

  table thead {
    background: #FFFFFF;
    border-bottom: 2px solid #CDCDCD;
  }

  table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    background: #f0f0f0;
    border-bottom: 2px solid #CDCDCD;
    text-align: left;
  }

  table td:nth-child(1) {
    background: #f2f2f2;
  }
</style>

<div id="search-form">
  <input type="text"
    id="search-input"
    name="search"
    placeholder="Поиск..."
    value="">
</div>

<style>
  #search-form {
    display: flex;
    gap: 14px;
    margin-bottom: 20px;
  }

  #search-form #search-input {
    height: 45px;
    width: 100%;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
  }

  .search-buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
  }

  .search-buttons .item {
    background: #dfdfdf;
    color: black;
    padding: 10px;
    color: black;
    border-radius: 5px;
    width: max-content;
    cursor: pointer;
  }
  .search-buttons span {
    margin-right: 8px;
  }

  .search-buttons .item:hover {
    background: #b6b6b6;
  }

  .search-buttons .item.select {
    background: #FC7201;
    color: white;
  }

  .search-buttons .item.select:hover {
    background: #ff8929;
  }

  .search-buttons[data-type="page"] {
      justify-content: center;
  }

  .search-buttons[data-type="page"] .item {
    padding: 0;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    max-width: 95px;
  }
</style>

<style>
  .click_user, .click_hotel {
    color: #0039ff;
    cursor: pointer;
  }
  .click_user:hover, .click_hotel:hover {
    color: #567bff;
  }

</style>

{% comment %} <section class="search-buttons" data-type="sort" style="margin-bottom: 5px;">
  <span>Сортировка</span>
  <div class="item select" data-type="new">новые</div>
  <div class="item" data-type="old">старые</div>
</section> {% endcomment %}

<section class="search-buttons" data-type="admin" style="margin-bottom: 5px;">
  <span>Пользователь</span>
  <div class="item select" data-type="all">Все</div>
  {% for admin in admins %}
  <div class="item" data-type="{{admin.id}}">{{admin.fio}}</div>
  {% endfor %}
</section>

<script defer>
  $(".search-buttons .item").submit(function() {
    e.preventDefault()

    table = $('#main_table').DataTable()
    table.search()
    table.draw();
  })

  $(".search-buttons .item").click(function() {
    category = $(this).parent(".search-buttons").data("type")
    type = $(this).data("type")
    $(`.search-buttons[data-type="${category}"] .item`).removeClass("select")
    $(`.search-buttons[data-type="${category}"] .item[data-type="${type}"]`).addClass("select")

    table = $('#main_table').DataTable()
    table.search()
    table.draw();
  })

  $("#search-input").change(function (e) {
    table = $('#main_table').DataTable()
    table.search()
    table.draw();
  });
</script>

<div class="section">
  <table id="main_table" class="display">
  </table>
  </div>
</div>

<link href="https://cdn.datatables.net/v/dt/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/cr-1.6.2/fh-3.3.2/r-2.4.1/sp-2.1.2/sl-1.6.2/sr-1.2.2/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/dt/dt-1.13.4/b-2.3.6/b-colvis-2.3.6/cr-1.6.2/fh-3.3.2/r-2.4.1/sp-2.1.2/sl-1.6.2/sr-1.2.2/datatables.min.js"></script>

<script defer>
  $(document).ready( function () {
    $('#main_table').DataTable({
      "serverSide": true,
      language: {
        url: 'https://cdn.datatables.net/plug-ins/1.13.4/i18n/ru.json'
      },
      ajax: {
          url: "{% url 'admin.ajax.list.actions_admin' %}",
          type: 'POST',
          headers: {
            'X-CSRFToken': getCookie('csrftoken'),
          },
          data: function (d) {
            $(".search-buttons .item.select").each(function(){
              category = $(this).parent(".search-buttons").data("type")
              d[category] = $(this).data("type");
            });
            d["search[value]"] = $("#search-input").val()
          },
      },
      columns: [
        { data: 'id', name: 'id', title: "ID", orderable: false,
        render: function (data, type) {
          return data;
        } },
        { data: 'fio', name: 'user_fio', title: "ФИО", orderable: false,
          render: function (data, type) {
            if (type === 'display') {
                return '<span class="click_user">' + data + '</span>';
            }
            return data;
          }
        },
        { data: 'action', name: 'action', title: "Действие", orderable: false },
        { data: 'date', name: 'date', title: "Дата", orderable: false },
      ],
      colReorder: true,
      fixedHeader: true,
      responsive: true,
      "sDom": '<"top"i>rt<"bottom"lp><"clear">'
      })

    });
</script>
{% endblock main_block %}