{% extends 'main/base.html' %}
{% load static %}
{% block content %}
  <style>
    #faq_divst {
      padding: 20px;
      margin-left: 77px;
    }

    #faq_divst .item {
      margin-bottom: 15px;
      border-bottom: 1px solid #e0e0e0;
      padding: 6px 0;
      max-width: 947px;
    }

    #faq_divst .question {
      width: 100%;
      font-size: 20px;
      cursor: pointer;

      display: flex;
      justify-content: space-between;
    }

    #faq_divst .answer {
      width: calc(100% - 29px);
      margin-top: 10px;
      display: block;
    }

    .title {
      font-size: 27px;
      color: #fc7201;
    }

    .question:after {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-top: 2px solid #5b5b5b;
      border-right: 2px solid #5b5b5b;
      margin-right: 10px;
      flex-shrink: 0;
      position: relative;
      transform: rotate(-45deg);
    }

    .item.open .question:after {
      transform: rotate(135deg);
    }

    @media screen and (max-width: 949px) {
      .question:after {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        margin-right: 0;
      }

      #faq_divst {
        margin: 0;
      }

      .question {
        font-size: 16px;
      }

      .answer {
        font-size: 13px;
      }
    }
  </style>

  <main class="main">
    <div id="faq_divst">
      <div class="title">О работе сайта</div>
      <div class="item">
        <span class="question">Отличаются ли Ваши цены от цен гостиницы/отеля?</span>
        <span class="answer">Наши цены на 5% ниже цен гостиниц/отелей.</span>
      </div>
      <div class="item">
        <span class="question">Вы берете комиссию за бронирование?</span>
        <span class="answer">Нет, подбор и бронирование номеров на нашем сайте бесплатны.</span>
      </div>
      <div class="item">
        <span class="question">Является ли стоимость номера окончательной?</span>
        <span class="answer">На странице объекта указана стоимость, предоставленная напрямую объектом размещения. Стоимость номера на момент бронирования фиксируется.</span>
      </div>
      <div class="title">Кешбэк</div>
      <div class="item">
        <span class="question">Как получить кешбэк?</span>
        <span class="answer">При регистрации на нашем сайте Вам начисляется 200 приветственных бонусов (1 бонус = 1 рубль). При заселении Вы получаете 20% кешбэк от стоимости бронирования. Кроме того, Вы можете получить кешбэк 20% от стоимости бронирования за отзыв, который Вы напишете в течение месяца после проживания.
        </span>
      </div>
      <div class="item">
        <span class="question">В акции участвуют все отели?</span>
        <span class="answer">Да</span>
      </div>
      <div class="item">
        <span class="question">На сколько ночей должно быть бронирование, чтобы получить кешбэк?</span>
        <span class="answer">Минимум 1 сутки</span>
      </div>
      <div class="item">
        <span class="question">Сколько раз можно получить кешбэк?</span>
        <span class="answer">Принять участие в акции можно несколько раз: то есть за все бронирования с последующим проживанием, соответствующие условиям, вы можете получить кешбэк.</span>
      </div>
      <div class="item">
        <span class="question">Когда кешбэк будет начислен?</span>
        <span class="answer">На следующий день после заселения</span>
      </div>
      <div class="title">Изменения и отмены</div>
      <div class="item">
        <span class="question">Отмена бронирования</span>
        <span class="answer">
          Отменить бронирование можно в Личном кабинете. Для этого воспользуйтесь своим логином и паролем, откройте вкладку «Мои бронирования»<br />
          Отмена бронирования возможны в течение 24 часов после бронирования. В этом случае Вам возвращается 100% предоплата.<br />
          В случае отмены бронирования за месяц до заселения и больше, Вам возвращается 50% от внесенной предоплаты.<br />
          При отмене бронирования менее, чем за месяц, предоплата не возвращается.
        </span>
      </div>
      <div class="item">
        <span class="question">Можно ли забронировать несколько номеров на одну фамилию?</span>
        <span class="answer">На одну фамилию можно забронировать любое количество номеров разной категории</span>
      </div>
      <div class="item">
        <span class="question">Можно ли забронировать номер на свое имя, а приедет другой гость?</span>
        <span class="answer">Если ФИО гостя меняется после бронирования, нужно предупредить об этом менеджера как минимум за сутки во избежание недоразумений.</span>
      </div>
      <div class="item">
        <span class="question">Стоимость указана в сутки за номер или за человека?</span>
        <span class="answer">При бронировании койко-места (например, в хостелах) стоимость указана за размещение одного человека. В отелях стоимость указана за номер. При выборе номера обращайте внимание на количество гостей при бронировании.</span>
      </div>
      <div class="item">
        <span class="question">Возможно ли заселение в одноместный номер нескольких человек?</span>
        <span class="answer">Возможно только в том случае, если гостиница предоставляет дополнительные места.</span>
      </div>
      <div class="item">
        <span class="question">Сколько держится бронь?</span>
        <span class="answer">Время закрепления брони за гостем зависит от отеля, обычно до 00.00 дня заезда, если Вы не указали иное время заезда. Если гость задерживается больше чем на сутки за опоздавшие дни деньги не возвращаются</span>
      </div>
      <div class="item">
        <span class="question">Можно ли забронировать отель (др. объект размещения) на час, на ночь или на несколько часов?</span>
        <span class="answer">Минимальный срок бронирования – одни сутки, даже если фактическое врем проживания будет меньше.</span>
      </div>
      <div class="item">
        <span class="question">Можно ли вносить изменения в бронирование (например, изменить даты заезда)?</span>
        <span class="answer">Вы можете отправить корректировку существующего бронирования в виде пожелания отелю через специальный чат,форма которого находится в бронировании. Также Вы можете отменить существующее бронирование и оформить новое бронирование с учетом всех изменений и штрафов за отмену бронирования после 24 часов. Больше месяца до заезда 50% возврат, если меньше месяца тариф считается невозвратным.</span>
      </div>
      <div class="item">
        <span class="question">Можно ли отменить бронь?</span>
        <span class="answer">Да, отменить бронирование можно в личном кабинете в течение 24 часов бесплатно, если через 24 часа то больше месяца до заезда возвращается 50%, меньше месяца бронирование считается невозвартным.</span>
      </div>
      <div class="item">
        <span class="question">Может ли бронь аннулироваться без моего ведома?</span>
        <span class="answer">Аннулирование бронирования возможно в случае, если представитель отеля не смог с Вами связаться для подтверждения заезда. Во избежание такой ситуации: указывайте актуальный контактные данные (телефон, эл.почта), проверяйте статус бронирования в личном кабинете до заезда.</span>
      </div>
      <div class="item">
        <span class="question">Нужно ли платить штраф при отмене бронирования? Бесплатная ли отмена?</span>
        <span class="answer">Вы можете отменить существующее бронирование и оформить новое бронирование с учетом всех изменений и штрафов за отмену бронирования после 24 часов. Больше месяца до заезда 50% возврат, если меньше месяца тариф считается невозвратным</span>
      </div>
      <div class="item">
        <span class="question">Возврат денежных средств</span>
        <span class="answer">При отмене бронирования деньги отправляются на ваш счет в личном кабинете, вы можете ими воспользоваться для нового бронирования</span>
      </div>
      <div class="item">
        <span class="question">Как и в какие сроки я могу вернуть деньги, оплаченные в безналичном порядке, если у меня отменилась поездка?</span>
        <span class="answer">Вы можете отменить существующее бронирование и оформить новое бронирование с учетом всех изменений и штрафов за отмену бронирования после 24 часов. Больше месяца до заезда 50% возврат, если меньше месяца тариф считается невозвратным</span>
      </div>
      <div class="title">Оплата</div>
      <div class="item">
        <span class="question">Способы оплаты</span>
        <span class="answer">
          - Банковской картой на сайте;<br />
          - Банковской картой или наличными в отеле (зависит от отеля).<br />
          Способ оплаты зависит от конкретного отеля и выбранного варианта проживания.
        </span>
      </div>
      <div class="item">
        <span class="question">Можно ли разбить чек по количеству проживающих?</span>
        <span class="answer">Уточняйте подробности у отельера, у каждого отельера разные условия предоставления отчетных документов</span>
      </div>
      <div class="item">
        <span class="question">Нужно ли вносить залог?</span>
        <span class="answer">Некоторые объекты требуют внесения залога, например, апартаменты. Уточняйте у отельера при заезде после бронирования</span>
      </div>
      <div class="item">
        <span class="question">Отель/Гостиница работают с НДС или без?</span>
        <span class="answer">Информация о наличии НДС или его отсутствии уточняется в отеле/в гостинице.</span>
      </div>
      <div class="item">
        <span class="question">Где можно убедиться, что я оплатил бронирование?</span>
        <span class="answer">В личном кабинете на нашем сайте.</span>
      </div>
      <div class="item">
        <span class="question">Включено ли в моё бронирование питание?</span>
        <span class="answer">Данную информацию нужно утонять при бронировании в конкретном объекте размещения.</span>
      </div>
      <div class="item">
        <span class="question">Безопасность Ваших данных</span>
        <span class="answer">
          Все денежные операции по банковским картам мы осуществляем через Сбербанк — крупнейший банк России.<br />
          Мы также поддерживаем протоколы 3-D Secure, используемые компаниями Visa и MasterCard для обеспечения дополнительной безопасности платежей. Протоколы Verified by Visa и MasterCard SecureCode — это дополнительный уровень безопасности для банковских карт при онлайн-платежах. Если ваш банк поддерживает данный протокол, то при оплате услуг в интернете вы проходите ещё один шаг аутентификации, что повышает безопасность платежа.<br />
          Безопасность персональных данных банковских карт на нашем сайте обеспечивается несколькими протоколами защиты, в том числе SSL-сертификатом. Сайт Turgorodok.ru не видит, не собирает, не хранит данные карт гостей. Оплата происходит на странице Сбербанка.
        </span>
      </div>
      <div class="title">Командировки</div>
      <div class="item">
        <span class="question">Документ, подтверждающий оплату командировки</span>
        <span class="answer">Данную информацию нужно утонять при бронировании в конкретном объекте размещения.</span>
      </div>
      <div class="item">
        <span class="question">Документы для бухгалтерии после командировки</span>
        <span class="answer">Данную информацию нужно утонять при бронировании в конкретном объекте размещения.</span>
      </div>
      <div class="title">Проживание в отеле</div>
      <div class="item">
        <span class="question">Звёздность отелей</span>
        <span class="answer">
          При размещении отеля на нашем сайте мы запрашиваем информацию о «звёздности» у его официальных представителей и добавляем её к описанию отеля.<br />
          К сожалению, мы не можем гарантировать достоверность предоставленной отелем информации о «звёздности», поэтому рекомендуем в случае сомнений обратиться к Федеральному перечню туристских объектов на сайте классификация-туризм.рф.
        </span>
      </div>
      <div class="item">
        <span class="question">Контакты отеля</span>
        <span class="answer">
          Контакты отеля доступны сразу после завершения бронирования: вы можете посмотреть их в ваучере и в письме с подтверждением бронирования, которое мы отправляем на электронную почту.<br />
          К сожалению, мы не предоставляем контакты отелей без бронирования.
        </span>
      </div>
      <div class="item">
        <span class="question">Ранний заезд, поздний выезд</span>
        <span class="answer">
          Как правило, ранний заезд оплачивается отдельно и возможен только при наличии свободных номеров в забронированной вами категории.<br />
          Чтобы уточнить эту информацию, пожалуйста, свяжитесь с отелем после бронирования.<br />
          Мы также рекомендуем сообщить отелю предполагаемое время заезда при совершении бронирования.
        </span>
      </div>
      <div class="item">
        <span class="question">Документы для заселения в отель/гостиницу</span>
        <span class="answer">
          Для регистрации в отеле на территории Российской Федерации необходим паспорт каждого из гостей. Отель/гостиница вправе отказать в заселении гостям, не предоставившим паспорт при заселении.<br />
          Для регистрации в иностранном отеле вам потребуется заграничный паспорт.
        </span>
      </div>
      <div class="item">
        <span class="question">Нужно ли какое-то разрешение на заезд ребенка до 18 лет одного, без родителей?</span>
        <span class="answer">Да, необходимо юридически заверенное разрешение.</span>
      </div>
      <div class="item">
        <span class="question">Разрешено ли курение в отеле/номере?</span>
        <span class="answer">С июня 2014 года курение в общественных местах запрещено законом РФ. Отель является общественным местом. В некоторых отелях курить можно в специально отведенном месте, с которым Вас ознакомят при размещении в отеле.</span>
      </div>
      <div class="item">
        <span class="question">Возможно ли заселение ночью?</span>
        <span class="answer">В большинстве отелей поздний заезд возможен. Данная информация обговаривается при бронировании или же указывается в пожеланиях при оформлении бронирования.</span>
      </div>
      <div class="item">
        <span class="question">Расчётное время заезда?</span>
        <span class="answer">Расчетное время заезда и выезда нужно уточнить непосредственно в отеле.</span>
      </div>
      <div class="item">
        <span class="question">Можно ли сделать документы, если я не буду проживать в номере?</span>
        <span class="answer">Документы о проживании предоставляются только при наличии брони и факта проживания.</span>
      </div>
      <div class="item">
        <span class="question">Сколько стоит дополнительное место?</span>
        <span class="answer">Стоимость доп.места нужно уточнить непосредственно в отеле (ином объекте размещения).</span>
      </div>
      <div class="item">
        <span class="question">Возможно ли заселение с животными?</span>
        <span class="answer">Возможность проживания с животными и стоимость указана на странице объекта. Ветеринарный паспорт может потребовать администратор, чтобы удостовериться, что животное здорово.</span>
      </div>
      <div class="title">Проживание иностранных граждан, виза</div>
      <div class="item">
        <span class="question">Возможно ли заселение в отель/гостиницу иностранных граждан?</span>
        <span class="answer">В большинстве отелей, да. Обратитесь с этим вопросом к менеджеру объекта заселения</span>
      </div>
      <div class="item">
        <span class="question">Делает ли отель регистрацию?</span>
        <span class="answer">Регистрация иностранных граждан - это дополнительная услуга. За уточнением информации, обратитесь к менеджеру объекта заселения</span>
      </div>
      <div class="title">Отзывы гостей</div>
      <div class="item">
        <span class="question">Как оставить отзыв об отеле?</span>
        <span class="answer">Оставить отзыв об отеле могут только гости, которые проживали в отеле. Для этого на указанную при бронировании почту в день выезда придет письмо с предложением оставить отзыв.</span>
      </div>
      <div class="item">
        <span class="question">Почему мой отзыв ещё не опубликован?</span>
        <span class="answer">Отзывы могут оставлять только реально проживавшие в отеле гости. Все оценки и отзывы проходят автоматическую проверку на соответствие требованиям и правилам публикации. Если алгоритм посчитает отзыв сложным для обработки, то он отправляется на ручную модерацию, где повторно проходит проверку нашим сотрудником. Отзывы, содержащие слова ненормативной лексики и ругательств, модерацию не проходят. Мы уважительно относимся к пользователям сайта и нашим партнёрам, поэтому удаляем такие отзывы. Но, если отзыв носит конструктивный характер, мы передадим его отелю , который постарается разрешить вопрос.</span>
      </div>
      <div class="item">
        <span class="question">Могу ли я отредактировать опубликованный отзыв?</span>
        <span class="answer">После публикации отзыва отредактировать его невозможно.</span>
      </div>
      <div class="title">Не нашли ответа на свой вопрос</div>
      <div class="item">
        <span class="question">У меня остались вопросы, куда обратиться?</span>
        <span class="answer">Вопросы можно задать по номеру телефона _____________ или по адресу электронной почты ________________.</span>
      </div>
    </div>
  </main>

  <script defer>
    $(document).ready(function () {
      // Скрыть все ответы
      $('.answer').hide()
      // Добавить обработчик событий на заголовок
      $('#faq_divst .item .question').click(function () {
        var faq_divst_item = $(this).parent('.item')
        console.log(faq_divst_item)

        $('#faq_divst .item').removeClass('open')
        $('.answer').hide()
        $(faq_divst_item).addClass('open').find('.answer').show(1)
      })
    })
  </script>
{% endblock %}
