{% extends "main/base.html" %}
{% load menu static %}
{% block content %}

<div style=" padding: 24px; ">
  <h1 style=" text-align: center; margin-bottom: 30px; ">Способы оплаты</h1>

  <span>
    <p>Правила оплаты и безопасность платежей, конфиденциальность информации:</p>
    <p>Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем Visa, MasterCard</p>
    <p>и Платежная система «Мир» на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего</p>
    <p>используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных</p>
    <p>банковской карты осуществляется на защищенной платежной странице ПАО «Сбербанк». На странице для ввода данных</p>
    <p>банковской карты потребуется ввести номер карты, имя владельца карты, срок действия карты, трёхзначный код</p>
    <p>безопасности (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные пропечатаны на самой карте. Трёхзначный</p>
    <p>код безопасности — это три цифры, находящиеся на обратной стороне карты. Далее вы будете перенаправлены на страницу</p>
    <p>Вашего банка для ввода 3DSecure кода, который придет к Вам в СМС. Если 3DSecure код Вам не пришел, то следует</p>
    <p>обратиться в банк, выдавшему Вам карту.</p>
  </span>
  <br>
  <img src="{% static 'img/Payments.png' %}" alt="">
  <br>
  <span>
    <p>Контактная информация:</p>
    <p>ИП Сычев Николай Григорьевич</p>
    <p>ИНН 231709222803</p>
    <p>ОГРНИП 322237500187504</p>
    <p>Телефон/Факс +79181014068</p>
    <p>Почта turgorodok@gmail.com</p>
    <p>Банк ПАО СБЕРБАНК</p>
    <p>БИК 046015602</p>
    <p>Корреспондентский счет 30101810600000000602</p>
    <p>Расчетный счет 40802810630060041405</p>
  </span>
  <br>
  <span>
    <p>Случаи отказа в совершении платежа:</p>
    <p>Банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк;</p>
    <p>Недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать,</p>
    <p>обратившись в банк, выпустивший банковскую карту;</p>
    <p>Данные банковской карты введены неверно;</p>
    <p>Истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и</p>
    <p>год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк,</p>
    <p>выпустивший банковскую карту;</p>
    <p>Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является</p>
    <p>конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном виде и не</p>
    <p>сохраняются на нашем Web-сервере.</p>
    <p>Правила возврата товара:</p>
    <p>При оплате картами возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами</p>
    <p>международных платежных систем.</p>
    <p>Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей».</p>
    <p>Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней;</p>
    <p>Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а</p>
    <p>также документ, подтверждающий факт и условия покупки указанного товара;</p>
    <p>Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если</p>
    <p>указанный товар может быть использован исключительно приобретающим его человеком;</p>
    <p>При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору,</p>
    <p>за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со</p>
    <p>дня предъявления потребителем соответствующего требования.</p>
  </span>
</div>

{% endblock content %}