{% load static %}

<style>
  * {
    font-family: Manrope;
  }
  a {
    text-decoration: none;
  }

  body {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
</style>

<style>
  .kdjq-card {
    border-radius: 10px;
    background: white;
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25);
  }
</style>

<div class="kdjq-card">
  <div class="kdjq-pcard--header">
    <span class="kdjq-pcard--header--title">Заголовок</span>
    <div class="kdjq-pcard--header--buttons">
      <div class="kdjq-pcard--header--buttons--item-button"></div>
    </div>
  </div>
  <div class="kdjq-pcard-body">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </div>
  <div class="kdjq-pcard-footer"></div>
</div>
