{% load static %}

<link rel="stylesheet" href="\static\css\kdjq.css">
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="tabs_type_stat" role="tablist" style="margin: 0 -15px; margin-bottom: 10px; padding-left: 15px;">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="promocode-tab" data-bs-toggle="tab" data-bs-target="#promocode-tab-pane" type="button" role="tab" aria-selected="true">Промокоды</button>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="promocode-tab-pane" role="tabpanel" aria-labelledby="home-tab">
    <div class="kdjq_stat"></div>

  </div>
</div>
