@charset "UTF-8";
#search_input_menu {
  margin-left: 20px;
  margin-right: -6px;
}

@media screen and (max-width: 1024px) {
  #search_input_menu {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  #search_input_menu {
    margin-left: 20px;
    margin-right: -6px;
  }
}
#search_input_menu_items {
  position: absolute;
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
#search_input_menu_items span {
  padding: 10px;
}
#search_input_menu_items span:hover {
  background: silver;
}

/* Поле поиска */
#search_input {
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: none;
  /* border: 1px solid #D2D2D2; */
  border-radius: 5px;
}
#search_input:focus {
  outline: none;
}

/* Поле поиска, когда он получает фокус/нажал на */
/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  /* position: absolute; */
  background-color: #f6f6f6;
  min-width: 230px;
  border: none;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Ссылки внутри выпадающего списка */
/* Изменение цвета выпадающих ссылок при наведении курсора */
/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс в .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
  display: block;
}

.guests {
  display: flex;
}
.guests p {
  display: inline;
}

#guests_popup {
  position: absolute;
  background: white;
  padding: 30px;
  width: 256px;
  box-sizing: border-box;
  gap: 15px;
  display: none;
  flex-direction: column;
  left: 0;
  z-index: 2;
  border: 1px solid #d2d2d2;
  border-top: none;
  border-radius: 0 0 5px 5px;
}
#guests_popup .input {
  display: flex;
  align-items: center;
}
#guests_popup .input .label {
  flex-grow: 1;
  width: 100%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #07151C;
}
#guests_popup .input :is(.plus, .minus) {
  border: 1px solid #FC7201;
  color: #FC7201;
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-weight: 600;
}
#guests_popup .input input {
  border: none;
  outline: none;
  text-align: center;
  width: 40px;
}

.form-search__label.form-search__label--persons:hover #guests_popup {
  display: flex;
}

.children_age_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: -8px;
}
.children_age_group input {
  padding: 6px;
  padding-left: 10px;
  border-radius: 5px;
}

.form_search {
  background: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.input-date {
  width: 255px;
}

.form-search__label--date {
  width: 535px;
}

.ui-datepicker {
  width: auto;
}

.ui-datepicker-header {
  border: none !important;
  background: transparent !important;
}

select.ui-datepicker-month {
  border: none !important;
  width: min-content !important;
}

.ui-datepicker-calendar .ui-state-default {
  background: none;
  border: none;
  color: #07151C;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 32px;
  line-height: 22px;
  padding: 5px;
  text-align: center;
  width: 32px;
}

.ui-datepicker table {
  border: none;
}

.ui-datepicker th {
  background-color: transparent !important;
  color: black !important;
}

table td:nth-child(1) {
  background: initial !important;
}


.ui-datepicker-calendar .ui-datepicker th {
  padding: 0.7em 12px;
}

.ui-datepicker td {
  padding: 5px;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #F0F0F0;
}
.ui-datepicker-calendar .ui-state-active {
  background: #FC7201;
  color: white;
}
.ui-datepicker-calendar .ui-datepicker-month {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
}
.ui-datepicker-calendar thead .col {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4A4A;
}

.ui-icon-circle-triangle-e {
  background-image: url("/static/img/ui-datepicker-calendar-arrow_r.png") !important;
  background-position: 0 0;
}

.ui-icon-circle-triangle-w {
  background-image: url("/static/img/ui-datepicker-calendar-arrow_l.png") !important;
  background-position: 0 0;
}

.ui-datepicker-next.ui-state-hover {
  background: none;
  right: 2px;
  border: none;
}

.ui-datepicker-prev.ui-state-hover {
  background: none;
  left: 2px;
  border: none;
}

.ui-datepicker select.ui-datepicker-month {
  border: none !important;
  appearance: none !important;
  width: min-content !important;
}