{% extends "main/base_base.html" %}
{% load static crispy_forms_tags sass_tags %}
{% block base %}

<link href="{% static 'css/scss/logreg.css' %}"
    rel="stylesheet"
    type="text/css" />

<body class="login">
    <div class="left">
        <form method="POST">
            <a href="/" class="logo_turcity">Тургородок</a>
            <span class="span_title_1">Восстановление пароля</span>
            {% if email_sent %}
            <span class="span_title_2">Письмо отравлено на почту</span>
            {% elif expect_a_letter %}
            <span class="span_title_2">Сброс пароля прошел успешно . Вам придет письмо с новым паролем на почту в течении пары минут</span>
            {% else %}
            {% csrf_token %}
            <span class="span_title_2">Ведите почту от аккаунта</span>
            <label for="login">
                <span class="name">Почта</span>
                <input type="text"
                    name="email"
                    id="id_email"
                    required>
            </label>
            <button class="button">Отправить письмо</button>
            <a href="/login/" class="link_back span_title_2">Назад</a>
            {% endif %}
        </form>
    </div>
    <div class="right"></div>
</body>
{% endblock base %}