{% extends "template/base_profile.html" %}
{% load menu form static sass_tags %}
{% block main_block %}


<link href="{% static 'css/scss/chat.css' %}"
  rel="stylesheet"
  type="text/css" />

<style>
  #main_block {
    background: transparent !important;
  }

  .chat_list {
    margin-top: 20px !important;
    border: 1px solid #CFCFCF !important;
    border-radius: 20px !important;
    padding: 15px;
    padding-top: 27px;
    margin-bottom: 20px !important;
    background: #ffffff !important;
  }

  .chat_item_hotel {
    background: white;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 9px;
    padding-left: 72px;
    position: relative;
    border-radius: 10px;
    min-height: 73px;
    justify-content: center;
    border: 1px solid #CFCFCF;
  }

  .chat_item_hotel.select {
    filter: drop-shadow(0px 0px 8px #B7B9FF);
    border: 1px solid #FC7201;
  }

  .chat_item_hotel img {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    position: absolute;
    left: 12px;
  }

  .chat_item_hotel .chat_user {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  .chat_item_hotel .chat_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #A2A2A2;
    margin-top: 8px;
  }

  .chat_item_hotel .not_read_messages_count {
    position: absolute;
    top: 20px;
    right: 14px;
    font-size: 20px;
    color: #ff6a6a;
  }

  .not_select_chat {
    background: #ffffff !important;
    margin-top: 20px !important;
    border: 1px solid #CFCFCF !important;
    border-radius: 20px !important;
    margin-right: 20px;
    margin-bottom: 20px;
    height: auto;
    background: #ffffff;
  }

  #content .right #main_block .section {
    gap: 17px;
  }

  #chat_max {
    background: #ffffff !important;
    margin-top: 20px !important;
    border: 1px solid #CFCFCF !important;
    border-radius: 20px !important;
    margin-right: 20px;
    margin-bottom: 20px;
    height: auto;
    background: #ffffff;
  }

  #entering_message {
    border-radius: 10px;
    background: transparent !important;
    border: 1px solid #185C5C;
    height: 76px;
    margin: 24px;
    font-size: 15px;
  }

  #entering_message .send_messages {
    position: absolute;
    bottom: 15px;
    right: 17px;
    cursor: pointer;
  }

  #entering_message #entering_a_message_text {
    flex-grow: 1;
    resize: none;
    font-size: 16px;
    border: none;
    margin-top: 2px;
    padding: 0 !important;
    height: 20px !important;
  }

  #messages {
    height: 67vh;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    overflow: auto;
  }

  .openPopup {
    position: relative;
    bottom: -1px;
    cursor: pointer;
    left: 24px;
    top: -20px;
    font-size: 12px;
  }
</style>

<div class="section">
  <div class="chat_list {% if full_chat %}hide{% endif %}">
    {% for chat in chats %}
    <a href="{{chat.url}}"
      class="chat_item_hotel {% if full_chat == chat.id %}select{% endif %}"
      data-chat-id="{{chat.id}}">
      <img src="{{chat.img}}"></img>
      <span class="chat_user">{{chat.name}}</span>
      <span class="chat_title">{{chat.start}} - {{chat.end}}</span>
    </a>
    {% endfor %}
  </div>
  {% if full_chat %}
  <div id="chat_max">
    <div id="messages">
      <div class="button_grupe_chat">
      </div>
    </div>
    <div id="entering_message">
      <textarea name="text"
        id="entering_a_message_text"
        placeholder="Введите сообщение..."
        required></textarea>
      <img src="{% static 'img/chat_send_button.png' %}"
        class="send_messages">
    </div>
    <div class="openPopup">Правила переписки</div>
  </div>
  {% else %}
  <div class="not_select_chat">
    Чат не выбран
  </div>
  {% endif %}
</div>

{% if full_chat != None %}
<script defer>
  chat = {
    "isGetMessages": false,
  }

  get_chat()

  function get_chat() {
    data = {
      "chat": "{{full_chat}}",
    }

    load_start()

    $.ajax({
      method: "POST",
      data: data,
      url: "{% url 'get_chat' %}",
      beforeSend: function (request) {
        request.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      },
      success: function (data) {

        chat["id"] = data["chat"]["id"]
        chat["date_start"] = data["chat"]["date_start"]
        chat["user_id"] = data["chat"]["user_id"]
        get_messages(false)
        load_end()
      }
    });
  }

  function get_messages(isRestart) {
    chat["isGetMessages"] = true
    data_get = {
      "chat": chat.id,
      "isRestart": isRestart,
    }
    $.ajax({
      method: "GET",
      data: data_get,
      url: "{% url 'chat_messages' %}",
      beforeSend: function (request) {
        request.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      },
      success: function (data) {
        chat["isGetMessages"] = false
        if (data.status && data.status == "not_now_messages") {
          console.log("Нету новых сообщений")
        }
        else {
          add_messages_to_html(data.messages)
        }
      }
    });
  }
  setInterval(function () {
    if (chat["isGetMessages"] == false) {
      get_messages(true);
    }
  }, 5000);

  count_mess = 0

  function add_messages_to_html(messages) {
    if (count_mess >= messages.length) {
      return
    }

    count_mess = messages.length

    $("#messages > .media").remove()
    $("#messages > .title-date-messages").remove()
    savedDay = null

    messages.forEach(message => {
      // получаем дату сообщения
      console.log(message.date)
      let messageDate = new Date(message.date);
      // получаем день сообщения
      let messageDay = messageDate.getDate();

      // сравниваем дни
      if (messageDay != savedDay) {
        // добавляем дату перед сообщением
        let date = messageDate.toLocaleString('ru-RU', { day: 'numeric', month: 'numeric', year: 'numeric' });
        $("#messages").append(`<p class="title-date-messages text-muted text-center">${date}</p>`)
        // сохраняем текущий день
        savedDay = messageDay;
      }

      if (message.belong == "client") {
        html = $(`<div class="media media-his">
                    <div class="media-left media-fix-width">
                        <img class="media-object img-circle"
                        src="{% static '/img/av_user.png' %}"
                    style="max-width:75px;">
                    </div>
                    <div class="media-right media-fix-width">
                    </div>
                    <div class="media-body media-body-left">
                    <div class="message-body">
                        ${message.text}
                    </div>
                    </div>
                    <div class="message-data-right text-muted">
                    ${message.time}
                    </div>
                </div>`)
      }
      else if (message.belong == "info") {
        html = $(message.text)
      }
      else if (message.belong == "admin") {
        html = $(`
                <div class="media media-my">
                    <div class="media-left message-data-left text-muted">
                        ${message.time}
                    </div>
                    <div class="media-right media-fix-width">
                        <img class="media-object img-circle" src="{% static '/img/av_user_ts.png' %}" style="max-width:75px;">
                    </div>
                    <div class="media-body media-body-right">
                        <div class="message-body">
                            ${message.text}
                        </div>
                    </div>
                </div>
                `)
      }
      else if (message.belong == "hotel") {
        html = $(`
                <div class="media media-my">
                    <div class="media-left message-data-left text-muted">
                        ${message.time}
                    </div>
                    <div class="media-right media-fix-width">
                        <img class="media-object img-circle" src="${message.avatar}" style="max-width:75px;">
                    </div>
                    <div class="media-body media-body-right">
                        <div class="message-body">
                            ${message.text}
                        </div>
                    </div>
                </div>
                `)
      }

      $("#messages").append(html)
    });
  }

  $(".send_messages").click(function () {
    sendMessages()
  });

  setInterval(function () {
    if (chat["isGetMessages"] == false) {
      get_messages(true);
    }
  }, 5000);

  $('#file_input').on('change', function () {
    if ($("#file_input").val()) {
      // файл выбран
      sendMessages();
    }
  });

  function sendMessages() {
    var text = $("#entering_a_message_text").val();
    if (text != "") {
      var data_post = new FormData();
      data_post.append("text", text);
      data_post.append("chat", chat.id);

      $.ajax({
        method: "POST",
        data: data_post,
        url: "{% url 'chat_send' %}",
        beforeSend: function (request) {
          request.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        },
        processData: false,
        contentType: false,
        success: function (data) {
          text = $("#entering_a_message_text").val("");
          $("#file_input").val("");
          get_messages(false);
        }
      });
    }
  }


  $(".openPopup").click(function () { openPopup() })

  function openPopup() {
    // Создаем элементы попапа
    var popup = $("<div>");
    var popupText = $(`<span>
  <p>1. В переписке закрыты контактные данные — и ваши, и гостя. Контакты откроются, после того как вы подтвердите бронь.  Нужно изменить статус в карточке бронирования.</p>
  <br>
  <p>2. До подтверждения бронирования, в переписке запрещается указывать: телефон, электронную почту, другие контакты (скайп, вайбер и т.д.), данные для оплаты проживания (номера карт, электронных кошельков и т. д.).</p>
  <br>
  <p>3. Запрещается призывать гостя к нарушению правил переписки, а также предлагать ему альтернативные способы бронирования, нарушающие принципы работы  сайта Тургородок</p>
  <br>
  <p>4. В любой момент (и до внесения предоплаты, и после) в переписке не допускаются ссылки на другие ресурсы и некорректные отзывы о сайте Тургородок</p>
  <br>
  <p>Пожалуйста, не пытайтесь обмениваться контактами до внесения предоплаты и нарушать остальные правила переписки — мы следим за такими попытками и можем аннулировать бронь. Если нарушения с вашей стороны повторятся несколько раз, мы можем:</p>
  <p> – заблокировать переписку на 30 дней;</p>
  <p> – остановить показ ваших объявлений  и заблокировать ваш аккаунт.</p>
  </span>`);
    var closeButton = $("<button>");

    // Добавляем классы и текст элементам попапа
    popup.addClass("popup");
    popupText.addClass("popup-text");
    closeButton.addClass("popup-close");
    closeButton.text("Закрыть");

    // Добавляем элементы на страницу
    popup.append(popupText);
    popup.append(closeButton);
    $("body").append(popup);

    // Обработчик нажатия на кнопку закрытия
    closeButton.click(function () {
      popup.remove();
    });
  }
</script>
{% endif %}
{% endblock main_block %}