{% extends "main/base_base.html" %}
{% load static crispy_forms_tags sass_tags %}
{% block base %}

<link href="{% static 'css/scss/logreg.css' %}"
    rel="stylesheet"
    type="text/css" />

<body class="login">
    <div class="left">
        <form method="GET">
            <a href="" class="logo_turcity">Тургородок</a>
            <span class="span_title_1">Новый пароль</span>
            {% if status == "ok" %}
            <span class="span_title_2">Пароль успешно изменён</span>
            {% else %}
            {% csrf_token %}
            <span class="span_title_2">Ведите новый пароль</span>
            <label for="password">
                <span class="name">Почта</span>
                <input type="text"
                    name="password"
                    id="id_password"
                    required>
            </label>
            <label for="password_2">
                <span class="name">Почта</span>
                <input type="text"
                    name="password_2"
                    id="id_password_2"
                    required>
            </label>
            <button class="button">Изменить пароль</button>
            {% endif %}
        </form>
    </div>
    <div class="right"></div>
</body>
{% endblock base %}