{% extends "main/base_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block base %}

<link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900"
    rel="stylesheet" />
<style>
    body {
        display: flex;
    }

    body .left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    body .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        box-sizing: border-box;
    }



    body .left .logo_turcity {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 33px;
        line-height: 130%;
        color: #232D42;
        display: flex;
        margin-bottom: 40px;
    }

    body .left .logo_turcity::before {
        display: block;
        content: url("{% static 'img/logo.svg' %}");
        position: relative;
        top: 3px;
    }

    body .left .span_title_1 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 33px;
        line-height: 130%;
        color: #000000;
        margin-bottom: 16px;
    }

    body .left .span_title_2 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        color: #8A92A6;
        margin-bottom: 16px;
    }


    body .left label {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        width: 100%;
        max-width: 600px;
    }

    body .left label .name {
        /* H6 16px Regular Inter */
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        /* identical to box height, or 28px */
        /* 8A92A6 Text Color 2 */
        color: #8A92A6;
    }

    body .left label input,
    body .left label textarea {
        width: 100%;
        height: 44px;
        padding: 11px;
        background: #FFFFFF;
        border: 1px solid #D2D2D2;
        border-radius: 4px;
    }

    body .left label textarea {
        height: 350px;
        position: relative;
    }

    body .left .form button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;

        background: #FC7201;

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        /* identical to box height, or 28px */

        align-items: center;
        text-align: center;

        border-radius: 4px;

        color: #FFFFFF;

        /* FFFFFF Bg 1 */
        margin-bottom: 16px;
    }
</style>

<body>
    <div class="left">
        <div class="form">
            <span class="span_title_1">Техподдержка</span>
            <span class="span_title_2">Создание нового запроса</span>
            {% csrf_token %}
            <label for="login">
                <span class="name">Тема обращения</span>
                <input type="text"
                    name="title"
                    {% if title %}
                    value="{{title}}"
                    {% endif %}
                    id="id_title">
            </label>
            <label for="text">
                <span class="name">Опишите Вашу проблему</span>
                <textarea type="text"
                    name="text"
                    id="id_text">{% if text != None %}{{text}}{% endif %}</textarea>
            </label>
            <div class="grupe_button" style=" display: flex; gap: 13px; ">
                <button class="button" id="create_ts_button" onclick="ajax_create_ts()">Отправить</button>
                <button onclick="window.history.back(); return false" class="button">Отмена</button>
            </div>
            <!-- <span class="how_to_design_beautifully"><a href="#">Как оформить?</a></span> -->
        </div>
        <script>
            function ajax_create_ts() {

                if ($(`[name="title"]`).val() == "") {
                    alert("Заполните заголовок")
                    return
                }

                if ($(`[name="title"]`).val() == "") {
                    alert("Заполните описание")
                    return
                }

                param = {
                    title: $(`[name="title"]`).val(),
                    text: $(`[name="text"]`).val()
                }

                $(`[name="title"]`).val('')
                $(`[name="text"]`).val('')

                $(".create_ts_button").css("pointer-events", "none")

                // AJAX POST request
                $.ajax({
                    url: "{% url 'techsupport.create_ts' %}",
                    type: 'POST',
                    data: param,
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    success: function (response) {
                        // Handle success response
                        location.href = response.chat_url
                    }
                })
            }
        </script>
    </div>
    </div>
</body>
{% endblock base %}